annotated-types==0.7.0
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
docstring_parser==0.16
google-api-core==2.19.1
google-auth==2.31.0
google-cloud-aiplatform==1.57.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.3
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
grpc-google-iam-v1==0.13.1
grpcio==1.64.1
grpcio-status==1.62.2
idna==3.7
lz4==4.3.3
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pinecone-client==4.1.1
pinecone-notebooks==0.1.1
pinecone-plugin-interface==0.0.7
proto-plus==1.24.0
protobuf==4.25.3
protoc-gen-openapiv2==0.0.1
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.8.0
pydantic_core==2.20.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
rsa==4.9
shapely==2.0.4
six==1.16.0
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
